[Desktop Entry]
Name=Lution
Comment=A description of your Lution application
Exec=env PYTHONPATH=/usr/local/lib/python3.12/site-packages /usr/bin/python3 /usr/local/lib/python3.12/site-packages/Lution/main.py
Icon=org.wookhq.Lution
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
ApplicationID=org.wookhq.Lution